USE [CourseDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountinCourses]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountinCourses](
	[AccountinCourseID] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[QuizCompleted] [int] NOT NULL,
	[InvoiceCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[IsBought] [bit] NOT NULL,
	[IsLiked] [bit] NOT NULL,
	[GetPayment] [bit] NOT NULL,
 CONSTRAINT [PK_AccountinCourses] PRIMARY KEY CLUSTERED 
(
	[AccountinCourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountinLessons]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountinLessons](
	[AccountinLessonID] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [nvarchar](max) NULL,
	[ExamQuizCode] [nvarchar](max) NULL,
	[QuizName] [nvarchar](max) NULL,
	[IsCompleted] [bit] NOT NULL,
	[Result] [nvarchar](max) NULL,
	[LastTaken] [datetime2](7) NOT NULL,
	[AccountId1] [int] NULL,
	[LessonId] [int] NULL,
 CONSTRAINT [PK_AccountinLessons] PRIMARY KEY CLUSTERED 
(
	[AccountinLessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](100) NULL,
	[Role] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Verification] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Choices]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choices](
	[ChoiceId] [int] IDENTITY(1,1) NOT NULL,
	[Answer] [nvarchar](max) NULL,
	[IsCorrect] [bit] NOT NULL,
	[AnswerImage] [varbinary](max) NULL,
	[AnswerImageLink] [nvarchar](max) NULL,
	[QuizId] [int] NOT NULL,
 CONSTRAINT [PK_Choices] PRIMARY KEY CLUSTERED 
(
	[ChoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentContent] [nvarchar](max) NULL,
	[Rating] [real] NOT NULL,
	[DatePost] [datetime2](7) NOT NULL,
	[Type] [nvarchar](max) NULL,
	[IsLiked] [bit] NOT NULL,
	[LikeCount] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CourseId] [int] NULL,
	[LessonId] [nvarchar](max) NULL,
	[LessonId1] [int] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](max) NULL,
	[Rating] [int] NOT NULL,
	[NumberOfVoters] [float] NOT NULL,
	[NumberOfParticipants] [float] NOT NULL,
	[Price] [real] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[CourseDuration] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ThumbnailImage] [varbinary](max) NULL,
	[Hastag] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[LastUpdate] [datetime2](7) NOT NULL,
	[LessonNumber] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamQuizs]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamQuizs](
	[ExamQuizId] [int] IDENTITY(1,1) NOT NULL,
	[ExamQuizName] [nvarchar](max) NULL,
	[ExamQuestion] [nvarchar](max) NULL,
	[ExamIsCorrect] [nvarchar](max) NULL,
	[ExamOption1] [nvarchar](max) NULL,
	[ExamOption2] [nvarchar](max) NULL,
	[ExamOption3] [nvarchar](max) NULL,
	[ExamOption4] [nvarchar](max) NULL,
	[ExamOption5] [nvarchar](max) NULL,
	[ExamQuestionImageURL] [nvarchar](max) NULL,
	[ExamOptionImageURL1] [nvarchar](max) NULL,
	[ExamOptionImageURL2] [nvarchar](max) NULL,
	[ExamOptionImageURL3] [nvarchar](max) NULL,
	[ExamOptionImageURL4] [nvarchar](max) NULL,
	[ExamOptionImageURL5] [nvarchar](max) NULL,
	[ExamThumbnailImage] [varbinary](max) NULL,
	[ExamQuestionImage] [varbinary](max) NULL,
	[ExamOptionImage1] [varbinary](max) NULL,
	[ExamOptionImage2] [varbinary](max) NULL,
	[ExamOptionImage3] [varbinary](max) NULL,
	[ExamOptionImage4] [varbinary](max) NULL,
	[ExamOptionImage5] [varbinary](max) NULL,
	[ExamTagTopic] [nvarchar](max) NULL,
	[ExamCode] [nvarchar](max) NULL,
	[CourseId] [nvarchar](max) NULL,
	[ExamTime] [int] NOT NULL,
	[QuizId] [nvarchar](max) NULL,
	[IsBlocked] [bit] NOT NULL,
 CONSTRAINT [PK_ExamQuizs] PRIMARY KEY CLUSTERED 
(
	[ExamQuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[LessonTitle] [nvarchar](max) NULL,
	[LessonContent] [nvarchar](max) NULL,
	[LessonNo] [int] NOT NULL,
	[SubTopicId] [int] NOT NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[MessageTitle] [nvarchar](max) NULL,
	[Message] [nvarchar](200) NULL,
	[Type] [nvarchar](max) NULL,
	[SendTo] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questionpools]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questionpools](
	[QuestionpoolId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionpoolName] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastEdited] [datetime2](7) NOT NULL,
	[Hastag] [nvarchar](max) NULL,
	[QuestionpoolThumbnailImage] [varbinary](max) NULL,
	[QuestionpoolThumbnailImageURL] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[AccountId] [nvarchar](max) NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_Questionpools] PRIMARY KEY CLUSTERED 
(
	[QuestionpoolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizs]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizs](
	[QuizId] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NULL,
	[QuestionType] [nvarchar](max) NULL,
	[QuizImage] [varbinary](max) NULL,
	[QuizImageLink] [nvarchar](max) NULL,
	[Time] [int] NOT NULL,
	[TopicId] [nvarchar](max) NULL,
	[QuestionpoolId] [int] NOT NULL,
 CONSTRAINT [PK_Quizs] PRIMARY KEY CLUSTERED 
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubComments]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubComments](
	[SubCommentId] [int] IDENTITY(1,1) NOT NULL,
	[SubCommentContent] [nvarchar](max) NULL,
	[SubDatePost] [datetime2](7) NOT NULL,
	[IsLiked] [bit] NOT NULL,
	[LikeCount] [int] NOT NULL,
	[ParentCommentId] [int] NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_SubComments] PRIMARY KEY CLUSTERED 
(
	[SubCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubTopics]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubTopics](
	[SubTopicId] [int] IDENTITY(1,1) NOT NULL,
	[SubTopicTitle] [nvarchar](max) NULL,
	[SubTopicNumber] [int] NOT NULL,
	[TopicId] [int] NOT NULL,
 CONSTRAINT [PK_SubTopics] PRIMARY KEY CLUSTERED 
(
	[SubTopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicId] [int] IDENTITY(1,1) NOT NULL,
	[TopicTitle] [nvarchar](max) NULL,
	[SessionNumber] [int] NOT NULL,
	[LastUpdate] [datetime2](7) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastLogOnDate] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[AvatarPath] [varbinary](max) NULL,
	[Balance] [real] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210603063153_1', N'3.1.15')
SET IDENTITY_INSERT [dbo].[AccountinCourses] ON 

INSERT [dbo].[AccountinCourses] ([AccountinCourseID], [AccountId], [CourseId], [QuizCompleted], [InvoiceCode], [CreatedDate], [PaymentMethod], [IsBought], [IsLiked], [GetPayment]) VALUES (1, 13, 4, 0, N'1RQbzk', CAST(N'2021-06-03T03:43:26.0000000' AS DateTime2), N'Account Balance', 1, 0, 0)
INSERT [dbo].[AccountinCourses] ([AccountinCourseID], [AccountId], [CourseId], [QuizCompleted], [InvoiceCode], [CreatedDate], [PaymentMethod], [IsBought], [IsLiked], [GetPayment]) VALUES (2, 2, 4, 0, N'1RQbzk', CAST(N'2021-06-03T03:43:26.0000000' AS DateTime2), N'Account Balance', 0, 0, 1)
INSERT [dbo].[AccountinCourses] ([AccountinCourseID], [AccountId], [CourseId], [QuizCompleted], [InvoiceCode], [CreatedDate], [PaymentMethod], [IsBought], [IsLiked], [GetPayment]) VALUES (3, 2, 7, 0, N'7Eix7vGN', CAST(N'2021-06-03T03:45:06.0000000' AS DateTime2), N'Paypal', 0, 0, 1)
SET IDENTITY_INSERT [dbo].[AccountinCourses] OFF
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [Username], [Password], [Role], [IsActive], [Verification], [UserId]) VALUES (1, N'admin', N'$2a$11$Yr8r24Kw5wk5azDTBIwBPOrv1nzCqDXpV0ABkkAsvVUcA1j7ijHKG', N'admin', 1, 0, 1)
INSERT [dbo].[Accounts] ([AccountId], [Username], [Password], [Role], [IsActive], [Verification], [UserId]) VALUES (2, N'chicong', N'$2a$11$OrRGVSFBTa0N4RSJ2s2Q8ebBc7i/9rwOmHAQCmGmDfURhk0fS9p9G', N'instructor', 1, 0, 2)
INSERT [dbo].[Accounts] ([AccountId], [Username], [Password], [Role], [IsActive], [Verification], [UserId]) VALUES (3, N'phicuong', N'$2a$11$Byj38Ns320TL811Eeq1RruXFW.SkAkAo6GqWrsVUXntvNnhWSnkWi', N'user', 1, 0, 3)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
SET IDENTITY_INSERT [dbo].[Choices] ON 

INSERT [dbo].[Choices] ([ChoiceId], [Answer], [IsCorrect], [AnswerImage], [AnswerImageLink], [QuizId]) VALUES (1, N'Hyper Text Markup Language', 0, NULL, NULL, 1)
INSERT [dbo].[Choices] ([ChoiceId], [Answer], [IsCorrect], [AnswerImage], [AnswerImageLink], [QuizId]) VALUES (2, N'Hyperlinks and Text Markup Language', 0, NULL, NULL, 1)
INSERT [dbo].[Choices] ([ChoiceId], [Answer], [IsCorrect], [AnswerImage], [AnswerImageLink], [QuizId]) VALUES (3, N'Home Tool Markup Language', 0, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Choices] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentId], [CommentContent], [Rating], [DatePost], [Type], [IsLiked], [LikeCount], [UserId], [CourseId], [LessonId], [LessonId1]) VALUES (1, NULL, 4, CAST(N'2021-06-03T03:53:42.0000000' AS DateTime2), N'Rating', 0, 0, 7, 6, NULL, NULL)
INSERT [dbo].[Comments] ([CommentId], [CommentContent], [Rating], [DatePost], [Type], [IsLiked], [LikeCount], [UserId], [CourseId], [LessonId], [LessonId1]) VALUES (2, NULL, 3.5, CAST(N'2021-06-03T03:54:29.0000000' AS DateTime2), N'Rating', 0, 0, 7, 7, NULL, NULL)
INSERT [dbo].[Comments] ([CommentId], [CommentContent], [Rating], [DatePost], [Type], [IsLiked], [LikeCount], [UserId], [CourseId], [LessonId], [LessonId1]) VALUES (3, NULL, 4, CAST(N'2021-06-03T03:54:11.0000000' AS DateTime2), N'Rating', 0, 0, 7, 4, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[ExamQuizs] ON 

SET IDENTITY_INSERT [dbo].[ExamQuizs] OFF
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonId], [LessonTitle], [LessonContent], [LessonNo], [SubTopicId]) VALUES (1, N'Install Enviroment', N'https://youtu.be/r59xYe3Vyks?list=PLS1QulWo1RIbfTjQvTdj8Y6yyq4R7g-Al', 0, 1)
INSERT [dbo].[Lessons] ([LessonId], [LessonTitle], [LessonContent], [LessonNo], [SubTopicId]) VALUES (2, N'Install IDE', N'https://youtu.be/gzlhm0jco0g?list=PLS1QulWo1RIbfTjQvTdj8Y6yyq4R7g-Al', 2, 2)
INSERT [dbo].[Lessons] ([LessonId], [LessonTitle], [LessonContent], [LessonNo], [SubTopicId]) VALUES (3, N'Create Java Project', N'Les3:https://youtu.be/U8wrZRYAnmI?list=PLS1QulWo1RIbfTjQvTdj8Y6yyq4R7g-Al', 3, 3)
SET IDENTITY_INSERT [dbo].[Lessons] OFF
SET IDENTITY_INSERT [dbo].[Questionpools] ON 

INSERT [dbo].[Questionpools] ([QuestionpoolId], [QuestionpoolName], [CreatedDate], [LastEdited], [Hastag], [QuestionpoolThumbnailImage], [QuestionpoolThumbnailImageURL], [IsActive], [AccountId], [CourseId]) VALUES (1, N'Question Pool 1', CAST(N'2021-06-03T05:09:30.0000000' AS DateTime2), CAST(N'2021-06-03T05:09:30.0000000' AS DateTime2), N'Javascript', NULL, NULL, 1, N'13', 8)
INSERT [dbo].[Questionpools] ([QuestionpoolId], [QuestionpoolName], [CreatedDate], [LastEdited], [Hastag], [QuestionpoolThumbnailImage], [QuestionpoolThumbnailImageURL], [IsActive], [AccountId], [CourseId]) VALUES (2, N'Question Pool 2', CAST(N'2021-06-03T05:10:18.0000000' AS DateTime2), CAST(N'2021-06-03T05:10:18.0000000' AS DateTime2), N'Javascript', NULL, NULL, 1, N'13', 8)
SET IDENTITY_INSERT [dbo].[Questionpools] OFF
SET IDENTITY_INSERT [dbo].[Quizs] ON 

INSERT [dbo].[Quizs] ([QuizId], [Question], [QuestionType], [QuizImage], [QuizImageLink], [Time], [TopicId], [QuestionpoolId]) VALUES (1, N'What does HTML stand for?', N'Multiple Choice', NULL, NULL, 60, NULL, 1)
INSERT [dbo].[Quizs] ([QuizId], [Question], [QuestionType], [QuizImage], [QuizImageLink], [Time], [TopicId], [QuestionpoolId]) VALUES (2, N'Who is making the Web standards?', N'Multiple Choice', NULL, NULL, 120, NULL, 1)
INSERT [dbo].[Quizs] ([QuizId], [Question], [QuestionType], [QuizImage], [QuizImageLink], [Time], [TopicId], [QuestionpoolId]) VALUES (3, N'Choose the correct HTML element for the largest heading:', N'Multiple Choice', NULL, NULL, 60, NULL, 1)
SET IDENTITY_INSERT [dbo].[Quizs] OFF
SET IDENTITY_INSERT [dbo].[SubTopics] ON 

INSERT [dbo].[SubTopics] ([SubTopicId], [SubTopicTitle], [SubTopicNumber], [TopicId]) VALUES (1, N'Java introduction and Install enviroment', 0, 1)
INSERT [dbo].[SubTopics] ([SubTopicId], [SubTopicTitle], [SubTopicNumber], [TopicId]) VALUES (2, N'Installing Eclipse IDE and Setting up Eclipse', 0, 1)
INSERT [dbo].[SubTopics] ([SubTopicId], [SubTopicTitle], [SubTopicNumber], [TopicId]) VALUES (3, N'Creating First Java Project in Eclipse IDE', 0, 2)
SET IDENTITY_INSERT [dbo].[SubTopics] OFF
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([TopicId], [TopicTitle], [SessionNumber], [LastUpdate], [IsLocked], [CourseId]) VALUES (1, N'Introduction', 0, CAST(N'2021-05-14T10:35:55.0000000' AS DateTime2), 0, 1)
INSERT [dbo].[Topics] ([TopicId], [TopicTitle], [SessionNumber], [LastUpdate], [IsLocked], [CourseId]) VALUES (2, N'Begin', 0, CAST(N'2021-05-14T10:38:27.0000000' AS DateTime2), 0, 1)
INSERT [dbo].[Topics] ([TopicId], [TopicTitle], [SessionNumber], [LastUpdate], [IsLocked], [CourseId]) VALUES (3, N'How to Get Started With JavaScript', 0, CAST(N'2021-05-14T10:51:22.0000000' AS DateTime2), 0, 2)
SET IDENTITY_INSERT [dbo].[Topics] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [PhoneNumber], [CreatedDate], [LastLogOnDate], [Email], [Gender], [AvatarPath], [Balance]) VALUES (1, N'Tran', N'Ngoc Hung', N'0945698741', CAST(N'2021-05-14T00:00:00.0000000' AS DateTime2), CAST(N'2021-05-14T00:00:00.0000000' AS DateTime2), N'tranngochung2109@gmail.com', N'Nam', NULL, 30.4)
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [PhoneNumber], [CreatedDate], [LastLogOnDate], [Email], [Gender], [AvatarPath], [Balance]) VALUES (2, N'Truong', N'Chi Cong', N'0945699720', CAST(N'2021-05-14T00:00:00.0000000' AS DateTime2), CAST(N'2021-05-14T00:00:00.0000000' AS DateTime2), N'chicong@gmail.com', N'Nam', NULL, 105.6)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[AccountinCourses]  WITH CHECK ADD  CONSTRAINT [FK_AccountinCourses_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[AccountinCourses] CHECK CONSTRAINT [FK_AccountinCourses_Accounts_AccountId]
GO
ALTER TABLE [dbo].[AccountinCourses]  WITH CHECK ADD  CONSTRAINT [FK_AccountinCourses_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[AccountinCourses] CHECK CONSTRAINT [FK_AccountinCourses_Courses_CourseId]
GO
ALTER TABLE [dbo].[AccountinLessons]  WITH CHECK ADD  CONSTRAINT [FK_AccountinLessons_Accounts_AccountId1] FOREIGN KEY([AccountId1])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[AccountinLessons] CHECK CONSTRAINT [FK_AccountinLessons_Accounts_AccountId1]
GO
ALTER TABLE [dbo].[AccountinLessons]  WITH CHECK ADD  CONSTRAINT [FK_AccountinLessons_Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
GO
ALTER TABLE [dbo].[AccountinLessons] CHECK CONSTRAINT [FK_AccountinLessons_Lessons_LessonId]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Users_UserId]
GO
ALTER TABLE [dbo].[Choices]  WITH CHECK ADD  CONSTRAINT [FK_Choices_Quizs_QuizId] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizs] ([QuizId])
GO
ALTER TABLE [dbo].[Choices] CHECK CONSTRAINT [FK_Choices_Quizs_QuizId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Courses_CourseId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Lessons_LessonId1] FOREIGN KEY([LessonId1])
REFERENCES [dbo].[Lessons] ([LessonId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Lessons_LessonId1]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_UserId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Accounts_AccountId]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_SubTopics_SubTopicId] FOREIGN KEY([SubTopicId])
REFERENCES [dbo].[SubTopics] ([SubTopicId])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lessons_SubTopics_SubTopicId]
GO
ALTER TABLE [dbo].[Questionpools]  WITH CHECK ADD  CONSTRAINT [FK_Questionpools_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Questionpools] CHECK CONSTRAINT [FK_Questionpools_Courses_CourseId]
GO
ALTER TABLE [dbo].[Quizs]  WITH CHECK ADD  CONSTRAINT [FK_Quizs_Questionpools_QuestionpoolId] FOREIGN KEY([QuestionpoolId])
REFERENCES [dbo].[Questionpools] ([QuestionpoolId])
GO
ALTER TABLE [dbo].[Quizs] CHECK CONSTRAINT [FK_Quizs_Questionpools_QuestionpoolId]
GO
ALTER TABLE [dbo].[SubComments]  WITH CHECK ADD  CONSTRAINT [FK_SubComments_Comments_ParentCommentId] FOREIGN KEY([ParentCommentId])
REFERENCES [dbo].[Comments] ([CommentId])
GO
ALTER TABLE [dbo].[SubComments] CHECK CONSTRAINT [FK_SubComments_Comments_ParentCommentId]
GO
ALTER TABLE [dbo].[SubComments]  WITH CHECK ADD  CONSTRAINT [FK_SubComments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SubComments] CHECK CONSTRAINT [FK_SubComments_Users_UserId]
GO
ALTER TABLE [dbo].[SubTopics]  WITH CHECK ADD  CONSTRAINT [FK_SubTopics_Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[SubTopics] CHECK CONSTRAINT [FK_SubTopics_Topics_TopicId]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_Courses_CourseId]
GO
